<label>Name:</label>{{input value=model.name}}
<label>Team:</label>{{input value=model.team}}
<label>Age:</label>{{input value=model.age}}
<button type="button" {{action 'create'}}>Create</button>

{{outlet}}